
body{
    margin: 0px;
} 

body{
    font-family: Helvetica;
}

/* SPLASH CSS */

audio {
    display: none;
}
.splash{
    height: 100%;
    display: block;
    overflow: hidden;
}

.logos{
    height: 20px;
    padding: 10px;
}

.nietzsche-logo{
    height: 30px;
    padding: 5px;
}

.wagner-logo{
    height: 30px;
    padding: 5px;
    cursor: pointer;
    
}

.me-logo{
    height: 30px;
    padding: 5px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px; 
    background-color: black;
    color: white; 
    text-align: center;
    padding: 5px 0; 
    border-radius: 6px;
    position: absolute; 
    z-index: 1;
    top: 70px; 
    right: 10px; 
}

.nietzsche-tiptext {
    visibility: hidden;
    width: 120px; 
    background-color: black;
    color: white; 
    text-align: center;
    padding: 5px 0; 
    border-radius: 6px;
    position: absolute; 
    z-index: 1;
    top: 70px; 
    right: 30px; 
}


.me-tiptext {
    visibility: hidden;
    width: 120px; 
    background-color: black;
    color: white; 
    text-align: center;
    padding: 5px 0; 
    border-radius: 6px;
    position: absolute; 
    z-index: 1;
    top: 70px; 
    right: 60px; 
}

.me-logo:hover + .me-tiptext{
    visibility: visible;
}

.nietzsche-logo:hover + .nietzsche-tiptext{
    visibility: visible;
}

.wagner-logo:hover + .tooltiptext {
    visibility: visible;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.nav-bar button{
    background-color: white;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.links{
    display: flex;
}
.site-links{
    display: flex;
    align-items: center;
}

.site-links a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #b5b5b51a;
    margin: 3px;
    transition: all 0.5s;
    border-radius: 5px;
}

.site-links a:hover {
    box-shadow: 2px 2px gray; 
    background-color: #07213a; 
    color: white;
    transition: .5s;
}





.personal-links a {
    text-decoration: none;
    
    
}



.container {
  position: absolute;
  top: 90px; 
  bottom: 0px;
  overflow-y: scroll;
  height: 820px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}


.container:hover .overlay {
  height: 50%;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
 
}

.text a:hover{
    position: absolute;
    color: #a83d3d;
}



/* FOOD CSS */
.take-up-space{
    height: 820px;
    width: 100%;
}

 .food{
    position: relative;
    height: auto;
    z-index: 1;
} 

.food-title {
    animation-duration: 5s;
    animation-name: colorshift;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes colorshift {
    from {
        color: black;
    }

    to {
        color: #f5f2f2;
    }
}



.food-background{
    width: 100%;
    height: 100%;
    position: relative;
}

.food-flipcards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.food h1{
    padding-left: 20px;
}

.flip-card-container{
    padding-left: 20px;
    top: 12%; 
    height: 85%; 
   position: absolute;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.flip-card-container-2{
    padding-right: 20px;
    top: 12%; 
    height: 85%; 
    position: absolute; 
    
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.flip-card{
    background-color: transparent;
    height: 200px;
    width: 200px;
    perspective: 1000px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s; 
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); 
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front{
 
    color: white; 
}

.flip-card-front h1{
    font-size: 20px;
}

.flip-card-back{
    color: white;
    transform: rotateY(180deg); 
}

/* CLIMATE */


.climate-exercise{
    width: 100%;
    position: relative;
    z-index: 2;
}

.climate-title-container {
    height: 80px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.climate-exercise h1{
    padding-left: 20px;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes slidein {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 70%;
    }
}


.climate-exercise img{
    width: 100%;
    height: 700px;
    position: relative;
}



.climate-quotes p {
    color: transparent;
    transition: 1s;
    font-size: 20px;
}

.dropdown-container{
  
    position: absolute; 
    right: 45%;
    top: 10%; 

    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    transition: 1s;

}

.dropdown {
    position: relative; 
    display: inline-block;
background-color: #ffffff6e;
  height: 100px; 
  width: 100px;
  border: none;
  border-radius: 4px;
  transition: 1s; 
  overflow: hidden;
  text-align: center;
}

.climate-quotes {
    position: absolute; 
    top: 10%;
    right: 7%;
    width: 30%;
    height: 70%;
}

.dropdown a {
    color: black;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropdown p {
    color: transparent;
    transition: 2s;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropdown:hover {
    width: 160px;
    height: 400px;
}

.dropdown:hover p {
    color: black;
   
}


.dropdown p:hover{
 border-bottom: 1px black solid;
}

/* DRINKS */



.Drinks h1{
    padding-left: 20px;
}

.drinks-title-container{
    height: 80px;
}

.slideshow-container{
    position: relative;
}

.quote-plus-pic{
    display: none;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-top: 1px black solid;
    /* background-color: beige; */

}

.prev, .next {
    cursor: pointer;
  position: absolute;
  top: 5%;
  width: auto;
  margin-top: -22px;
  padding: 30px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dots-container{
    padding-top: 30px;
    padding-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.active, .dot:hover {
  background-color: #717171;
}

.quote-plus-pic:first-of-type{
    border-top: 1px black solid;
}

.drinks-pic:hover{
    filter: grayscale(0%);
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

.drinks-pic{
    width: 70%;
    height: auto;
    filter: grayscale(100%); 
    transition: .5s; 
}

/* ANIMATION */

.myCanvas{
    visibility: hidden;
    position: absolute;
    top: 30px; 
    
}


.valkyrie{
    height: 0px;
    width: 0px;
}


/* QUIZ */

.quiz-title{
    padding: 10px;
}

.questions  {
    background-image: url('../images/quiz-background.jpg');
    height: 600px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
   
}

.prompt {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 200px;
}

.questions image {
    height: 100%;
}
.questions p {
    margin-bottom: 100px;
}

.quiz-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 600px;
    width: 80%;
    margin-left:10% ;
    margin-bottom: 100px;
}

.quiz-div button {
    background-color: transparent;
    color: white;
    border: 1px white solid;
    border-radius: 3px;
    font-size: 20px;
}


.quiz-div button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 3px 3px black;
}

#result {
    color: black;
     padding: 30px; 
     margin-top: 30px;
     margin-bottom: 30px;
   
    background-color: #ffffffdb;
    border-radius: 3px;
    width: 100%;
}





#answer-div{
    visibility: visible;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
}

.answer-div button {
    margin: 10px;
}


.answer-div{
    background-color: white;
    height: 300px;
    width: 300px;
    display: flex;
    border-radius: 5px;
}

.component-div{
    color: black;
    height: 46%;
    width: 46%;
    border: 1px solid gray; 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.component-div:hover {
    background-color: rgb(2, 26, 53);
    color: white;
    cursor: pointer;
}

.answer-div button{
   color: black; 
}


